/* *{
    margin: 0;padding: 0;
} */

body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.header{
    padding: 0px 200px 100px 200px;
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    color: white;
}

.navbar{
    /* margin: 10px 150px 10px 150px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo.lhs{
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.links.rhs ul{
    display: flex;
    list-style-type: none;
    gap: 10px;
}

a{
    font-size: 18px;
    text-decoration: none;
    color: #E5E7EB;
}

.headerinfo{
    padding: 100px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.info{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.maintitle{
    margin: 0px;
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.subtext{
    margin: 0px;
    font-size: large;
}

.signup{
    margin: 0px;
    background-color: #3882f6;
    color: white;
    font-size: 20px;
    font-weight: bold;
    height: 50px;
    width: 150px;
    border: #3882f6;
    border-radius: 10px;
}

.mid{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.randominfo{
    padding: 50px 350px 100px 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.randominfo h2{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.biggercontainer{
    display: flex;
    gap: 30px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.box{
    text-align: center;
    width: 150px;
    height: 150px;
    border: #3882F6 4px solid ;
    border-radius: 13px;
}

.infoonbox{
    text-align: center;
}

.quote{
    padding: 100px 275px;
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
}

blockquote{
    margin: 0;padding: 0;
    color: #1F2937;
    font-size: 36px;
    font-weight: light;
    font-style: italic;
}

.writer{
    margin-top: 5px;
    align-self: flex-end;
    color: #1F2937;
    font-size: 20px;
    font-weight: bolder;
}

.banner{
    display: flex;
}

.footer{
    /* align-self:flex-end; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: white;
    height: 33px;
}